*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 24px;
}
body{
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwallpaperaccess.com%2Fpixel-art-gif&psig=AOvVaw3xl4_HpkF2wrC92y4kyPFN&ust=1672666795718000&source=images&cd=vfe&ved=0CA8QjRxqFwoTCPiNy8O_pvwCFQAAAAAdAAAAABAE);
    background-size: cover;
    overflow: hidden;
    color: whitesmoke;
}
.banner{
    width: 100%;
    height: 100px;
    background-color: none;
    display: flex;
    justify-content: space-between;
}
.banner button{
    position: absolute;
    top: 30px;
    left: 70%;
    color: whitesmoke;
    background: none;
    padding: 8px;
    border: 3px;
    border-width: 2px;
    border-radius: 5px;
    border-color: whitesmoke;
    border-style: solid;
}
.banner button:hover{
    background-color: dimgrey;
    cursor: pointer;
}
.banner img{
    width: 100px;
    height: 100px;
}
nav a{
    color: whitesmoke;
    font-size: medium;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}
nav{
    float: right;
    line-height: 100px;
}
